html {
	scroll-behavior: smooth;
	box-sizing: border-box;
	font-size: calc(1vw / 16); // 100vw / 1600px
}

html,
body {
	height: 100%;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

img {
	display: flex;
	width: 100%;
	height: auto;
	vertical-align: middle;
}

body {
	position: relative;

	overflow-x: hidden;

	min-width: 320px;

	font-family: $pt-sans-caption-font;
	font-weight: 400;

	background: $white-color;
}
