.rules {
	position: relative;
	padding: 35rem 0;
	font-family: $pt-sans-caption-font;

	&::after,
	&::before {
		content: '';
		position: absolute;
		z-index: -1;
	}

	&::before {
		bottom: 0;
		left: 0;

		width: 351rem;
		height: 351rem;

		background: url('../../shared/assets/images/shape-1.png');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}

	&::after {
		top: -25rem;
		right: -90rem;

		width: 708rem;
		height: 708rem;

		background: url('../../shared/assets/images/shape-2.png');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
}

.title {
	margin-bottom: 20rem;
	font-size: 80rem;
	font-weight: 700;
	line-height: 1;
}

.caption {
	margin-bottom: 30rem;

	font-size: 20rem;
	font-weight: 400;
	line-height: 1.2;
	color: $gray-color-2;
}

.content {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 340rem 320rem;
}

.column {
	display: flex;

	&__number {
		flex: 0 1 64rem;

		height: 100%;
		padding: 60rem 0 30rem;

		font-family: $zilla-slab-font;
		font-size: 80rem;
		font-weight: 700;
		color: $white-color;
		text-align: center;

		background: $accent-gradient;
	}

	&__content {
		display: flex;
		flex: 0 1 calc(100% - 64rem);
		flex-direction: column;
		justify-content: space-between;

		padding: 0 20rem 0 16rem;

		&--table {
			justify-content: flex-start;
			padding: 43rem 0 0 16rem;
		}
	}

	&__text {
		font-family: $pt-sans-caption-font;
		font-size: 20rem;
		font-weight: 400;
		line-height: 1.2;
	}

	&__title {
		font-size: 20rem;
		font-weight: 700;
		line-height: 1.2;
	}

	&--table {
		grid-column: 2 / 5;
		grid-row: 2;
	}
}

.registration {
	display: inline-flex;
	gap: 10rem;
	align-items: center;

	margin-top: 20rem;
	padding: 10rem 20rem;

	color: $black-color;
	text-decoration: none;

	background: $accent-gradient;
	border-radius: 32rem;

	&__icon {
		width: 20rem;
		height: 20rem;
	}
}

.highlight {
	font-family: $zilla-slab-hightlight-font;
}

.table {
	display: flex;
	flex-direction: column;
	width: 100%;

	&__row {
		display: flex;
		width: 100%;
		border-top: 1rem solid $gray-color-3;

		&:last-child {
			border-bottom: 1rem solid $gray-color-3;
		}
	}

	&__column {
		display: flex;
		flex: 1 0 25%;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		height: 60rem;
		margin: auto 0;

		font-size: 16rem;
		font-weight: 400;
		line-height: 1.2;

		border-left: 1rem solid $gray-color-3;

		&:last-child {
			border-right: 1rem solid $gray-color-3;
		}
	}
}
